{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'home' %}"> <button style="font-size:20px;"> Выйти </button> </a><br>
    <a href="{% url 'model_form_upload' %}" style="font-size: 20px">Загрузить файл</a><br>

  <p style="font-size:20px;">Загруженные файлы:</p>
  <ul>
      {% for object in objects %}
      <br><li>
      <a href="{% url 'object' object.object_name %}">{{ object.object_name }}</a>
        <br><a>Размер файла: {{ object.size }} байт</a>
        <br><a>Дата последнего изменения: {{ object.last_modified }}</a>
            <form action="{% url 'delete' object.object_name%}" method="post">
                {% csrf_token %}
                <button type="submit" name='delete_object' value={{object.object_name}}>Удалить.</button>
            </form>

            <form action="{% url 'model_form_edit' object.object_name%}" method="post">
                {% csrf_token %}
                 <button type="submit">Редактировать</button>
            </form>
        </li>
      {% empty %}
        <li>Нет изображений</li>
    {% endfor %}
  </ul>


{% endblock %}




